<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Meus Orçamentos</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/home">
        <ion-img class="round-button-image" src="/assets/img/tecnoportas.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="list-container">
    <ion-list>
      <ion-list-header>
        <ion-label>Lista de Orçamentos</ion-label>
        <ion-button (click)="onNewQuoteClick()">Novo</ion-button>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating" color="medium">Procurar</ion-label>
        <ion-input type="search" [formControl]="form.search" (ionChange)="onSearchChange()">
        </ion-input>
        <ion-button slot="end" shape="round" fill="clear" (click)="onShowFiltersClick()">
          <ion-icon slot="icon-only" name="filter-outline" [color]="showFilters ? 'warning' : 'medium'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="showFilters">
        <ion-label position="floating" color="medium">Status</ion-label>
        <ion-select cancelText="Cancelar" [formControl]="form.status" (ionChange)="onFilterChange()">
          <ion-select-option *ngFor="let status of allStatus; let i = index" [value]="i">
            {{ status }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showFilters">
        <ion-label position="floating" color="medium">Mês</ion-label>
        <ion-select cancelText="Cancelar" [formControl]="form.month" (ionChange)="onFilterChange()">
          <ion-select-option *ngFor="let month of allMonths; let i = index" [value]="i + 1">
            {{ month }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showFilters">
        <ion-label position="floating" color="medium">Ano</ion-label>
        <ion-input type="number" [formControl]="form.year" (ionChange)="onFilterChange()">
        </ion-input>
        <ion-button slot="end" shape="round" fill="clear" (click)="onResetFiltersClick()">
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item-group [hidden]="empty">
        <ion-item-divider>Resumo</ion-item-divider>
        <div *ngIf="!pieChartElement" class="loading-container">
          <ion-spinner name="circular" color="medium"></ion-spinner>
        </div>
        <div id="pieChatCanvas">
          <canvas #pieChart></canvas>
        </div>
        <ion-item *ngIf="pieChartElement">
          <ion-label>Taxa de conversão</ion-label>
          <ion-label slot="end">{{ conversionRate }}%</ion-label>
        </ion-item>
      </ion-item-group>
      <ion-item-divider>{{ searchTerm || 'Todos os Orçamentos' }}</ion-item-divider>
      <div *ngIf="!quotesList.length && !empty" class="loading-container">
        <ion-spinner name="circular" color="medium"></ion-spinner>
      </div>
      <ion-item *ngIf="empty">
        <ion-icon name="alert-circle" slot="start"></ion-icon>
        <ion-label>Nenhum orçamento encontrado</ion-label>
      </ion-item>
      <ion-item-group *ngFor="let quote of quotesList; let i = index">
        <ion-item>
          <ion-icon slot="start" [name]="getIcon(quote)" [color]="getColor(quote)"></ion-icon>
          <ion-label (click)="onDetailsClick(quote)" text-wrap>
            {{ quote.tipo === 'f' ? quote.nome + ' ' + quote.sobrenome : quote.sobrenome }}
          </ion-label>
          <ion-button slot="end" fill="clear" shape="round" (click)="onExpandClick(i)">
            <ion-icon slot="icon-only" [name]="quotesSettings[i].expand ? 'caret-up' : 'caret-down'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="quotesSettings[i].expand">
          <ion-label>Nº: {{ quote.id }}</ion-label>
          <ion-label slot="end" [color]="getColor(quote)">{{ quote.status }}</ion-label>
        </ion-item>
        <ion-item *ngIf="quotesSettings[i].expand">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>{{ getDate(quote) }}</ion-label>
        </ion-item>
        <ion-item *ngIf="quotesSettings[i].expand">
          <ion-icon name="alarm-outline" slot="start"></ion-icon>
          <ion-label text-wrap>{{ getTime(quote) }}</ion-label>
        </ion-item>
        <ion-item *ngIf="quotesSettings[i].expand">
          <ion-label>Valor total:</ion-label>
          <ion-label slot="end">R$: {{ quote.valor_total }}</ion-label>
        </ion-item>
        <ion-item *ngIf="quotesSettings[i].expand">
          <div class="buttons-wrapper">
            <div class="buttons-container">
              <ion-button type="button" shape="round" color="medium" (click)="onDetailsClick(quote)">
                <ion-icon slot="start" name="ellipsis-vertical"></ion-icon>
                <span>
                  <ion-label>Detalhes</ion-label>
                </span>
              </ion-button>
            </div>
            <div class="buttons-container">
              <ion-button type="button" shape="round" color="secondary" (click)="onEditClick(quote)">
                <ion-icon slot="start" name="create"></ion-icon>
                <span>
                  <ion-label>Editar</ion-label>
                </span>
              </ion-button>
              <ion-button type="button" shape="round" color="danger" [disabled]="quote.status !== allStatus[1]"
                (click)="onCancelClick(quote)">
                <ion-icon slot="start" name="close-outline"></ion-icon>
                <span>
                  <ion-label>Cancelar</ion-label>
                </span>
              </ion-button>
            </div>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="onNewQuoteClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal #quoteDetails>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Orçamento {{ selectedQuote?.id }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeDetailsModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-quote-details [loggedUser]="loggedUser" [selectedQuote]="selectedQuote" (openPdf)="onOpenQuotePdfClick()"
        (closeClick)="closeDetailsModal()">
      </app-quote-details>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #quoteEdit>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Orçamento {{ selectedQuote?.id }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeEditModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-quote-edit [loggedUser]="loggedUser" [selectedQuote]="selectedQuote" (openPdf)="onOpenQuotePdfClick()"
        (closeClick)="closeEditModal()">
      </app-quote-edit>
    </ion-content>
  </ng-template>
</ion-modal>

<app-pdf-modal #quotePdf [loggedUser]="loggedUser" [quoteId]="selectedQuote?.id">
</app-pdf-modal>
