/* ----------------- Default font Size ----------------- */
html{
  font-size: 14px;
}
/* --------------------- TITLES ---------------------------- */
.titulo-2, .titulo-3{
  font-weight: bold;
  color: $c-p;
}
.titulo-2 {
  margin-bottom: 40px;
}
.titulo-3{
  font-size: 12px;
}

.page-title {
  color: $c-e-white;
  text-align: center;
  margin-bottom: 0;
  font-weight: 300;
  .product-name {
    font-weight: 300;
  }
}

.resumo-post {
  color: $c-e-white;
  font-size: 0.8rem;
  text-align: justify;
  @media #{$device-g-md} {
    font-size: 1.3rem;
  }
}

.titulo-post { margin: 0;
  @media #{$device-g-md} { font-size: 1.3rem; }
}

.titulo-2 {
  margin-bottom: 40px;
}