/* --- O R C A M E N T O --- */
.section-orcamento6 {
  margin-bottom: 1rem;
  .icon { width: 2rem; height: 1.7rem;}
  .cad-title { text-align: center;  margin-bottom: 2rem; }
  .section-orcamento4 .radio-azul span { text-align: initial; }
}

/* --- F O R M  C O N F I G --- */
.section-orcamento6 {
  .entrada-adic { background: $c-e-white; border-radius: 1rem;   padding: 0.5rem; }
  .diferenciado { img { width: 100%; padding: 0.2rem; } }
  .lista-opcao { display: flex; flex-direction: column; }
  .radio-azul { display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: space-between;}
  .opcao { padding-bottom: 2rem; padding-top: 2rem; display: flex; justify-content: space-around;
    &#divPosicoes { border-top: 1px solid $c-p-cc; }
  }
}


/* --- B O T Õ E S  C O N F I G --- */
.section-orcamento6 {
  //.botoes-form { display: flex; justify-content: space-around; margin-top: 2rem; width: 100%; }
  .botoes-form {
    display: flex;
    justify-content: space-between;
    background: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: -1px 1px 10px 0px black;
  }
  .radios { display: flex; flex-direction: row; justify-content: space-around; width: 100%; }
  .radio-azul span { color: #565656;
    text-transform: uppercase;
    font-weight: 900; text-align: initial;}
}

/* --- C O N D I Ç Õ E S  --- */
.section-orcamento6 {
  .botoes-form { display: none; &.-is-active { display: flex; }}
}