<div class="list-container">
  <ion-list>
    <ion-item-group>
      <ion-list-header>
        <ion-label>Tipo do acionamento *</ion-label>
      </ion-list-header>
      <ion-item *ngIf="loading">
        <div class="text-center w-100p">
          <ion-spinner name="circular" color="medium"></ion-spinner>
        </div>
      </ion-item>
      <ion-item *ngIf="getDefaultImg()">
        <ion-card>
          <img [src]="getDefaultImg().aciona_padrao_img" />
          <ion-card-header>
            <ion-card-title>
              Acionamento padrão
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-note>* item incluso de fábrica</ion-note>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-radio-group [formControl]="quoteForm.engineAutomator">
        <ion-item *ngIf="getDefaultImg()">
          <ion-avatar slot="start" class="product-avatar">
            <img [src]="getDefaultImg().aciona_padrao_img" />
          </ion-avatar>
          <ion-label text-wrap>Apenas o acionamento padrão</ion-label>
          <ion-radio slot="end" value="null"></ion-radio>
        </ion-item>
        <ion-item *ngFor="let item of quoteItems.engineAutomators">
          <ion-avatar slot="start" class="product-avatar">
            <img [src]="item.imagem" />
          </ion-avatar>
          <ion-label text-wrap>Acionamento padrão e {{ item.nome }}</ion-label>
          <ion-radio slot="end" [value]="item.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item-group>
    <ion-item>
      <div class="buttons-container">
        <ion-button type="button" shape="round" color="medium" [disabled]="saving" (click)="onPreviews()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          <span>
            <ion-label>Voltar</ion-label>
          </span>
        </ion-button>
        <ion-button type="button" shape="round" color="success" [disabled]="saving || loading" (click)="onNextClick()">
          <span>
            <ion-label>Continuar</ion-label>
          </span>
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</div>