div#ver-number {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    text-align: center;
}

#ver-number>p {
    color: black;
    font-weight: bold;
}

#body{
    min-height: 100vh;
}

#divApp{
    min-height: 95%;
}