<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueci Minha Senha</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/home">
        <ion-img class="round-button-image" src="/assets/img/tecnoportas.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="logo-container">
    <ion-img src="/assets/img/logo.png"></ion-img>
  </div>

  <div class="form-container">
    <form>

      <ion-list>
        <ion-list-header>
          Informe seu nome de usuário:
        </ion-list-header>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input type="text" [formControl]="form.username" placeholder="Nome de Usuário" [required]="true">
          </ion-input>
        </ion-item>
        <ion-item>
          <div class="buttons-container">
            <ion-button type="button" shape="round" color="tertiary" routerLink="/login">
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              <span>
                <ion-label>Voltar</ion-label>
              </span>
            </ion-button>
            <ion-button type="button" shape="round" color="success" (click)="onSubmitClick()"
              [disabled]="loading || form.username.invalid">
              <span *ngIf="!loading">
                <ion-label>Enviar</ion-label>
              </span>
              <ion-spinner *ngIf="loading" name="circular" color="medium"></ion-spinner>
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>